{% extends 'EnglishTemplate/English_Web.html' %} {% block section %}
<div class="content-section text-center bg-ligth text-dark text-center py-3">
    <p>I Will Continue The Story Of The Sandman Movie</p>
</div>
<div class="content-section bg-success text-dark text-center py-3">
    <p>After The realm Fixing Of Dreams god,He looked for some works as the mafias do.
        He is joining the humans and others god to control of the people.
        After Finding More Gods,he decided to be more complex and responisve than he was before.
        more power , more wealth , he is going to think something.
    </p>
</div>
{% endblock section %}