{% extends 'EnglishTemplate/English_Web.html' %}
{% block section %}
<div class="content-section text-dark text-center bg-primary py-2">
    <p>Critize The Movie</p>
</div>
<div class="content-section bg-info p-5 m-5 text-dark text-center">
    <p>
        <span class="text-warning"> In This Movie , I Can Say Something To You Which Can Let You To Decide Better!
        </span>
        <br>
        In this movie, there was a character called the god of dreams. after going to the human world , he would have
        been captured by a person or a wizard called Magus.
        In here, i can say that when a person can capture the god can prove you that how much we are dangerous. after
        capturing, The Magus ,One Of The Wizard Of The Earth, had started to talk about the wealth.
        This Dialog : " Give Me Endless Life, Wealth, Health ..... " . after saying these sentences i wrote, he ,The
        Magus, told him that these works i told you is nothing for a god to making them real for me,isn't you
        . But the god of dream had never told anything him. just silence.After years,the son of the magus was about
        helping that god. the Magus figured out the son work , and started to talk about some works that that god could
        do with them when he is free.
        "He Could Kill Us As One Of The Most Existed Shapes In The World.Stupid!"
        The Son Was about proving that his work was a blunder by killing his crow(the crow of the dreams god)
        . <br> <br>
        In that movie, there was some messages to change our thinking level. let me to tell you some of them.
        when they captured the god of dreams , something just come over the people. when they asleep , they would never
        wake up.
        they were in a deep asleep of their own selves.even the doctors couldn't find any solution ro treat it.
        In this movie, they defect the god and the sciences. actually they were trying to tell us about the power of
        magic and how a person can be so dangrous who can capture a god.
        besides, this movie was talking about the mafia of each environment.
        the Magus was talking about some thing the god could give him , but he didn't.
        the God Never Accept his requests.
        The Magus's son had had his only request. it was about giving us a promise to don't kill us or any damages.
        the Magus's Son get older and older as the days had gone on!
        and the god had never accepted his request too.
        after being free , even the god was looking for the revenge. <br> <br>
        The magus wants to harness Death’s power to indulge in a spot of necromancy and revive his favourite son, who
        was killed in wartime. Instead, he ends up with Dream, and traps him naked in a glass sphere in his basement.
        For a while, the period setting feels a bit dark Downton Abbey, but it soon becomes clear that this is far too
        expansive to stick to one era or genre. Throughout the series, time flies, and slows, and we leap through
        different periods and cities and realms. It all feels like rather a lot, but it works well.
    </p>
</div>
{% endblock section %}