{% extends 'EnglishTemplate/English_Web.html' %} {% block section %}
<div class="content-section bg-primary text-light text-center p-5">
    <p>Persion Subtitle Of Sandman</p>
    <h6>This Include Each Thing Existed In The English Subtitle</h6>
</div>
<div class="content-section bg-info text-dark text-center m-5 p-5">
    <p>

        تو دنیای پیاده‌روی که بشریت اصرار داره اون را دنیای واقعی بنامد، گویی رویاهای توهیچ تأثیری بر انتخاب‌های
        تونداره. فانی هایت به کار تو میرن. عشق‌های تو، جنگ‌های توبه گونه‌ای که گویی زندگی‌های تودر حال قدم زدن هستی، همه
        چیز مهمه. اما وقتی چشماتو ببندی و وارد قلمرو من میشی، زندگی دیگه ای در انتظارته. چون من پادشاه رویاها و کابوس‌ها
        هستم. وقتی دنیای پیاده‌روی تو رو ناخواسته و خسته می‌گذارد. خواب تو رو به اینجا می یاره تا آزادی و ماجراجویی برای
        رویارویی با ترس ها و خیالات خود را تو رویاها و کابوس هایی که من ایجاد می کنم و باید کنترل کنم پیدا کنی. که تورا
        مصرف کنند و نابود کنند. این هدف و کارکرد منه یا اینطور بود، تا زمانی که پادشاهی خودمو ترک کردم تا یک کابوس سرکش
        رو هدف قرار دهم. ارباب من تو برمیگردی، اینطور نیست؟ چرا برنمیگردم لوسین... نمی دونم. من حاضرم همون قدر قدرتمند
        که اینجا تو قلمرو خود هستید. رویا به ندرت تو دنیای پیاده روی زنده می مونه. از سوی دیگه ای کابوس ها. به نظر میاد
        تو آنجا رشد می کنه. آقا بیدار شو ما اینجا هستیم. فاونی ریگ. قبلا، پیش از این ؟ لابد گیج شدم متشکرم . ظهر بخیر
        پسر نام من دکتر جان هاتاویه از موزه سلطنتی. اینجا یی که مجوس را ببینی؟ من تومده ام تا آقا را ببینم رودریک بورگس.
        پدر دوست داره که اونو مجوس صدا بکنن. منظورم جادوگره اینجا تو تاریکی* 4 . مجوس میهمان خودتو در مطالعه، الکس،
        پذیرایی خواهد کرد. بله آقای سایکس. اومدی تا به دستور پدر بپیوندی؟ ترتیب اسرار باستانی. دکتر هاتاوی، چه لذت
        غیرمنتظره ای. چای الکس برای مهمان ما. لطفا بنشینید . توباید از سفر خود خسته شده باشی. متشکرم . من فکر می کنم که
        توتجدید نظر کرده ای. بعد از ملاقات ما تو موزه. میدونم چی گفتم امروز صبح یه تلگرام دریافت کردم. پسرم ادموند
        ناوشکنش هفته پیش تو نزدیکی جاستلند. غرق شد. تسلیت دکتر. پس در هردمون غم داریم من و تو. همانطور که می دونی من
        پسرم راندال رو اخیرا تو گالیپولی از دست دادم. منو ببخش، فهمیدم که رندال تنها پسر تو بود. رندال بزرگترین شادی من
        بود. همه اینها برای اون بود. پس آون را آوردی، مجدلیه گریمور؟ اگه کتاب را به توبدهم واقعاً می توانید فرشته مرگ را
        اسیر کنید، اوه بله. با طلسم های ثبت شده در این کتاب، می توانیم مرگ را وادار کنیم تا پسرانمان را به ما برگرداند.
        ادموند توو رندال من دوباره زنده خواهند شد. مشکلی نیست دکتر هاتاوی. اینجا. امشب به چیزی دست خواهیم یافت که هیچ کس
        قبل از ما حتی تلاش نکردیم. ما مرگ را احضار و زندانی خواهیم کرد. اینجا تو تاریکی . کورینتی . خلقت من تو رویا می
        ماند. آنها برای لذت در میان انسان های زنده قتل راه نمی روند. آیا این دلیل نیست که مرا خلق کردی؟ چرا باید خودمان
        را محدود به ذهن خواب آنها کنیم؟ اینجا تو دنیای پیاده‌روی، ما غیرقابل توقف هستیم. هیچ چیزی مانع از گرفتن ما نیست.
        هر کی هر چی بخوایم . فکر وجود داره. ارباب من لطفا نه نه نه نه ازت خواهش میکنم اینجا در تاریکی من به توسکه ای می
        دهم که از یک سنگ ساخته شده است. من از زیر تپه ها چاقویی می دهم و خون از رگم به تو می دهم. ترانه ای به تو می دهم
        که از خاک دزدیده ام. و من یک پر به تو می دهم که از بال فرشته کشیده شده است. برای تو که آسمانها را بلند کنی .
        اینجا تو تاریکی *10^نامحدود. من تورا به نام اگه اربابان قدیمی احضار می کنم. با درد احضارت میکنم راه را باز می
        کنم، دروازه را باز می کنم. من تورا به نام اربابان قدیمی احضار می کنم. [name] [name] [name] [name] با توتماس می
        گیرد. [name] با توتماس می گیرد. ما تورا با هم احضار می کنیم، بیا. الکس، الکس! آن کیسه را برای من بگیر، اما مراقب
        باش. دایره مناقصه را نشکنید. هوممم، ماسه حالا جواهر. آنجا . خوب بیایید ببینیم چه گنجینه های دیگری برای ما دارید.
        پرنده. نه پدر نه متوقف کردن ! حرکت. اجازه می‌دهیم مهمانمان بهبود یابد. قبل از اینکه خواسته هایمان را به او
        بگوییم. نگهبانان، مراقب او باشید. مجوس. ایا من تو رو میشناسم ؟ نه، اما من همه چیز را در مورد تو رودریک و موجودی
        که تو انبارت به دام انداخته ای می دانم. باج گیری پس آیا اینه ؟ یک تکان دادن؟ نه من اینجا هستم تا به توکمک کنم.
        توبه تمام کمک هایی که می توانید دریافت کنید نیاز خواهید داشت. نگه داشتن یکی از نزدیک های بی پایان فوایدی داره.
        بی پایان؟ آیا فکر می کنید مرگ تنها مسئول بود؟ می دانید که دروگر خانواده داره. آرزو، سرنوشت، ناامیدی. الان کدوم
        رو گرفتم؟ رویا! خدایی که رویاها را اداره می کند چه فایده ای داره ؟ نه خدایی بیشتر از خدا و انسان که رویاهایشان
        <br><br> بر آنها حکومت نمی کند؟
        لباس هایش را برداشتی؟ یاقوت، کیسه و سکان. آنها می توانند جنبه ای از قدرت او را به توبدهند. طول عمر خود را افزایش
        دهید، اجازه دهید دیگران را دستکاری کنید، اما باید اطمینان حاصل کنید که او هرگز فرار نمی کند. دایره صحافی دست
        نخورده است. دایره کافی نخواهد بود. توباید کره شیشه ای را تو داخل دایره بسازید. تجلی فیزیکی رویا را در بر داشته
        باشد. هیچ کس نباید در حضور او به خواب برود، هیچ کس. یا او به رویاهای توفرار می کند و تونمی خواهید که لوح های
        مارش اجباری وجود داشته باشد. محرک هایی که برای بیدار نگه داشتن سربازان سنگر استفاده می شود. ببینید نگهبانان
        توهمیشه از آنها استفاده می کنند. چرا به من کمک می کنی؟ او برای تو چیست؟ خوب می توانید بگویید که او مرا به آنچه
        امروز هستم تبدیل کرد، و اگه روزی آزاد شود، می تواند همه چیز را پس بگیرد. ما تحت نظر هستیم. چی !؟ اینجا جسدی
        نیست! خب باید با اون یکی کنار بیای اسمش جسمی است. او متعلق به اوست. با آرزوی موفقیت برای هر دوی ما خوب دوباره
        میبینمت؟ باید امیدوار نباشی میتونی بری. آیا تو بیدار هستید؟ گوش می دهید؟ من میدونم تو کی هستی ! رویای بی پایان .
        من تو را طبق قوانین جادو اسیر کردم، اما این تو نبودی که می خواستم. من مرگ را می خواستم تا پسرم راندال را که تو
        کمپین [نام مکان] مرده بود، برگرداند. اگه او را زنده به من پس بدهی، خوب است. آزادت میکنم آیا این در توان شماست؟
        ارباب رویاها نه فکر می کنم نه. پس چه چیزی می توانید به من بدهید؟ اگه بذارم بری اگه قول بدم چیزتو پس بدم چی ؟
        قدرت؟ ثروت؟ جاودانگی؟ هوم؟ آیا توجه داره که می توانید به من پیشنهاد دهید؟ خوب آن را راه خود را پس از آن! و تا
        زمانی که آماده باشید صحبت کنید و از هدیه ای که قبلاً به من داده اید لذت ببرید. او روز به روز درخواست هدیه می
        کرد. اینها نه مال بشر برای دریافت است و نه مال من برای دادن. پس ساکت ماندم. و ده سال تغییر کند. از خودت لذت ببر
        البته. هر چند حضور من تو آنجا یک راز باقی ماندم. یاقوت، شن و سجاف من جوانی و شکوفایی آورد. برای بازگرداندن بورگس
        و پیروانش، اما برای بقیه جهان این رنج ادامه داشت. الکس تو قرار است در حال کار باشید نه خواندن. اجازه نده پدر
        تورا بگیرد. ببخشید . من می ترسم که امروز عصر دیگر جایی در داخل نباشد، اما اگه همه توفردا برمی گردید. ساعت ها
        اینجا بودم ما نمی رویم، اما می ترسم که مغ ها اصرار کنند. اوه مجوس اصرار داره ، اینطور نیست؟ و تو کی هستی که به
        جای مجوس صحبت کنی؟ تو کی هستی لعنتی او پسر مجوس است. تو لعنتی، اینطور نیست؟ میخوای تو رو نفرین کنه هگز توو همه
        بچه های متولد نشده؟ نه پس باید همین الان بروی آیا هنوز هم می توانیم فردا برگردیم؟ آنها می توانند؟ بله، اگه آنها
        پول نقد بیاورند. اوه او را شنیدی فقط پول نقد. حالا بغض کن برای آن متشکرم. تو به کمک من نیازی نداشتی شرط می بندم
        تو می توانی جادو را انجام دهی، اینطور نیست. واقعا نمیتونم هیچ کاری انجام بدم این درست نیست. توقدرتمندتر از آنچه
        می دانید هستید. می توانید مرا وارد کنید تا مجوس را ببینم. من با آن چیز نمی مانم . یک ثانیه بیشتر از چیزی که
        باید. ما فقط می توانیم او را تنها بگذاریم. چرا که نه . او در قفس خود است. او نیست؟ گاهی اوقات به شغل او فکر می
        کنم. واقعا گاهی؟ من صبح ندارم! نوئل و موریس را دیدی؟ نه آنها نزدیک به نیم ساعت تاخیر دارند. اوه، من می توانستم
        او را تماشا کنم. تا زمانی که اگه می خواستی بروی، به اینجا برسند. فردا می بینمت. به سلامتی، الکس. سلام . الکس
        است. سپس پسر مجوس. ببین من نمی دونم می تونی حرف بزنی یا حتی درکم کنی، اما من فقط می خواستم بپرسم. توتو آنجا
        هستید؟ نه البته که نیستی من برای همه اینها متاسفم. او مرد بدی نیست. پدر من . او فقط اگه می توانستید راندول را
        برگردانید، اوه فقط چیزی، هر چیزی به او بدهید یا حتی فقط با او صحبت کنید. سپس مطمئن هستم که او تورا بیرون خواهد
        داد
        <br> <br>
        ببین اگه میتونستم بهت اجازه میدم بیرون تو، آیا تو. اون پایین چیکار میکردی تو نقشه فرارش را می کشیدی، نه؟ توطئه
        علیه من؟ نه پدر چی بهت گفت هیچی نگفت میدونی اگه او را بیرون بود چه اتفاقی می افته. من نمی خوام مجوس. قول میدهم.
        او تو را سلاخی می کرد او همه ما را سلاخی کرده بود. آیا این چیزیه که می خواهید؟ آیا این است؟ میخوای بمیری الکس؟
        آیا تو . اگه این کار را بکنید. نسبتا ساده است. لعنتی . رادی؟ چیست؟ مشکل چیه ؟ این جسمی است. جسمی کیه؟!!! الان ده
        سال است که سعی می کنم به این پرنده ورچیده شلیک کنم. این نمی تواند همان پرنده باشد، نمی تواند. آیا او به توگفته
        که این را بگویید. آیا او؟ نه پدر او چیزی نگفت به من ثابت کن. به پرنده لعنتی شلیک کن اتل. جهنم لعنتی به آتش نشانی
        زنگ بزنیم؟ ما آتش نشانی هستیم. بیا دیگه. ادم سفیه و احمق. میتونستی شیشه رو بشکنی آن آشفتگی را پاک کن وحشیگری اگه
        اسیرکنندگان من دنیایی را بسازند که در غیاب من رویاهایش تاریک تر می شد. جهانی که به زودی دوباره تو جنگ خواهد بود.
        جهان هنوز در اثر بیماری که پزشکان آنسفالیت را بی حال نامیدند، ویران بود. فقط میخوام بخوابم لطفا بعضی ها التماس
        می کردند که خوابی نیاید. دیگران به عنوان خوابگردهای همیشگی زندگی می کردند. بیشتر آنها بدون بیدار شدن می
        خوابیدند. متاسفم قربان. این چه چیزی است که می خوانید؟ من می ترسم که در حال حاضر خیلی بیشتر از آنچه که در حال
        خواندن هستم، خوابم می برد. آیا بدن های پست را خوانده اید؟ حالا این تورا بیدار نگه می داره. راست میگی؟ خوب من قصد
        دارم بچه دار شوم این خبر فوق العاده ای است. او می خواهد من از شر آن خلاص شوم. در واقع، او در حال حاضر با یک دکتر
        تماس می گیرد. این چیست؟ مشکل چیه ؟ او همه چیز را گرفته است. کلاه ایمنی. کیسه، یاقوت، گریمور و 200000 پول نقد. او
        خیلی بیشتر از این را گرفته است. پیداش کن حالا او را به اینجا برگردان کجا میری ؟ تا ببینم چه بد خوابی می خواهد بی
        پایان از قفسش بیرون بیاید. زنی که با من زندگی می کند رفته و ثروتم را ربوده است. او هم تورا دزدیده است. او سکان
        تو، شن و یاقوت تو را گرفته است. حالا من می‌توانم قفل آن را باز کنم، می‌توانی دنبالش بروی، اگه آنچه را که
        می‌خواستم به من بدهی. ثروت، جوانی، جاودانگی. اوه تو خدایی این چیزها برای توچیزی نیست. آیا تواسلحه خود را، آزادی
        نمی خواهید؟ با من صحبت کن*2^2 بیا با من صحبت کن. اشکال نداره پدر از من دور شو اگه برای من پسری بودی اگه رندال
        امروز زنده بود اون هم مثل من ازت متنفر میشه آقا؟ توهرگز از شر آن خلاص نمی شوید. هرگز . آقا می تونی منو اینجا
        بیاری؟ آقا حرکت نمیکنه؟ اون مرده. نکن آقا او ما را خواهد کشت بابا چی میگی؟ احتیاج دارم فکر کنم. آقا؟ حال توخوب
        است ؟ پدرم او مرده. خیلی متاسفم آقا! من خیلی متاسفم الکس! از از دست دادن، عشق جدیدی متولد شد. برای نه ماه بعد
        اتل کریپس پسری به دنیا آورد. مامانم وقتی می‌خوابید می‌گفت اگه خوب باشم. مردی می آمد، شن به چشمانم می پاشید. از
        این به بعد جانی من و تو باید رویاهای خودمان را محقق کنیم و هیچ چیز و هیچ کس تو راه ما قرار نخواهد گرفت. او امروز
        چطور است راجرز؟ اگه من بدانم قربان. امروز صبح دستش را حرکت داد. دست راست. اوه خدای من . الکس سلام . این دوست من
        پل است. پل این مهمان ناخواسته ماست. ببین من و پل داشتیم با هم حرف میزدیم و اگه اجازه بدم بیرون. آیا توقول می
        دهید که به ما آسیب نرسانید. اگه فقط می توانید با ما صحبت کنید. دیدی بهت گفتم دارم بهت میگم. توباید به تلاش ادامه
        دهید. به او نشان دهید که می توانید به تواعتماد کنید. به او نشان دهید که منظورتان این است. منظورم اینه فقط قول
        بده که به من یا پل آسیبی نزنی. و من تو را بیرون می گذارم. آیا این بار باید او را باور می کردم؟ آیا باید او را به
        خاطر قتل زاغم ببخشم؟ شاید . اما در پایان . من نتوانستم. می توانستم مانند پدرم تقاضای ثروت یا قدرت کنم. اما تنها
        چیزی که همیشه می خواستم این بود که از دست تو رها باشم. مطمئنا تو هم آن را میخواهی.الکس. دارلین لطفا منو ببر بالا
        من دیگه اینجا پایین نمیام

        <br><br>
        دراکولای پیر اینجا یک اینچ هم نمی کند. چرا بهش میگید دراکولا؟ چون فکر می کنم یکی از آنها دراکولاست به نظر
        توچیست؟ سعی می کنم نکنم میدونی به چی فکر میکنم؟ مایورکا برای روزها و من یک ساحل خواهم بود. بدبوی لوسیون ضد
        آفتاب. باگر خوش شانس یک بار برای تعطیلات تو کورفو بودم. من این تیپ مناسب را صبح تو هتل ملاقات کردم، فرد! حرکت
        نکن! همانجایی که هستی بمان! حرکت نکن! همانجایی که هستی بمان! حالا دستاتو باز کن! پل خوب سلام. اهل کجایی. سلام.
        این تو هستی تو آزادی. اوه بله. و آیا ایده ای دارید که چگونه بود؟ بیش از یک قرن تو قفس محبوس شده. آیا آسیبی که به
        دنیای خود وارد کرده اید را درک نمی کنید؟ متاسفم. نمیدونستم لطفا مجازات تو، سپس m یک هدیه خواهد بود. اینو بهت
        میدم هدیه ابدی خواب. الکس الکس بیدار شو لطفا بیش از یک قرن خواب شکنجه‌آمیز از رویاها و کابوس‌های شورش در حال
        پایان بود. او آزاد است. او از قفس خود خارج شده بنابراین می ترسم مجبور شوم بدوم و تا زمانی که این دنیا را دوباره
        شکل ن دهم متوقف نخواهم شد. برای اینکه دقیقا شبیه من بشه آقا آقا اوه خدای من. آقا من هستم این لوسیان است. تو تو
        خونه هستی. خدای من . منم .من را ببخشید قربان. اما قلمرو مکان . آنها آنطور که توآنها را ترک کردید نیستند. اینجا
        چه اتفاقی افتاد؟ چه کسی این کار را کرد؟ مولای من تو رویا پرداز هستی و رویاپرداز تو یی، اما تا زمانی که بودی
        رفتی. قلمرو شروع به پوسیدگی و مچاله شدن کرد و ساکنان؟ چیزهای پالس . می ترسم بیشتر رفته باشند. رفته ! کسی به
        دنبال شماست و دیگری؟ اونا فکر می کنند شاید تو از وظایف خود خسته شدی و چه؟ آنها را رها کرده ام؟ هی به من خیلی کم
        ایمان دارند آیا سوژه های خودم مرا نمی شناسند؟ اگه بتونم آقا . این اولین بار نیست که یکی از بی پایان ها فقط .
        کافی. من رویاها و کابوس هایی را که طعمه دنیای پیاده روی شوند نخواهم دید. من همه آنها را برمی گردانم. من این
        قلمرو را زمانی لوسیان ساختم. دوباره درستش میکنم
        <br><br>

    </p>
</div>
{% endblock section %}